.cabecalho {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.cabecalho__links {
    display: flex;
    justify-content: space-between;
    width: auto;
    .link__item {
        margin-right: 15px;
        color: hsl(236, 13%, 42%);
        cursor: pointer;
        &:hover{
            color: hsl(5, 85%, 63%);
        }
    }
}
.menu__svg {
    display: none;
}
.modal__close {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.587);
}
.close__menu{
    width: 40px;
    height: 40px;
    position:absolute;
    right: 15px;
    top: 15px;
    cursor:pointer;
}

.invisible {
    display: none;
}

.visible {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    height: 100vh;
    width: 80%;
    background-color: #fefdf9;
    .link__item {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
    
}

@media screen and(max-width: 600px) {
    .cabecalho__links{
        display: none;
    }
   .menu__svg {
    display: block;
}
}