.cabecalho {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.cabecalho__links {
    display: flex;
    justify-content: space-between;
    width: auto;
    .link__item {
        margin-right: 15px;
        color: hsl(236, 13%, 42%);
        cursor: pointer;
        &:hover{
            color: hsl(5, 85%, 63%);
        }
    }
}

@media screen and(max-width: 600px) {
   .cabecalho__links {
    display: none;
   }
}