* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Redefine a fonte padrão e os estilos de lista */
  html, body {
    font-family: Arial, sans-serif;
  }
  
  ul, ol {
    list-style: none;
  }
  
  /* Remove estilos de link padrão */
  a {
    text-decoration: none;
    color: inherit;
  }