.topicos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    min-height: 150px;
    max-height: auto;
    flex-wrap: wrap;

    .container__article {
        display: grid;
        grid-template-columns: 150px 250px;
        height: 150px;
        min-width: auto;
    }
}

.article__materia {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    & span {
        font-size: 2rem; 
        font-weight: bold;
        color:hsla(236, 13%, 42%, 0.756) ;
    }
    & h4 {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: start;
    }
    & p {
        color:hsl(236, 13%, 42%) ;
        
    }
   
}

.img__article {
    width: 80%;
    height: 150px;
    &:hover {
        transform: rotate(5deg);
    }
}
@media screen and (max-width: 800px) {
    .topicos {
        justify-content: center;
        align-items: center;
        height: 500px;
        .article__materia {
           font-size: 1.3rem;
           width: 100%;
        }
    }
}