@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Redefine a fonte padrão e os estilos de lista */
html, body {
  font-family: Arial, sans-serif;
}

ul, ol {
  list-style: none;
}

/* Remove estilos de link padrão */
a {
  text-decoration: none;
  color: inherit;
}

.cabecalho {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.cabecalho__links {
  display: flex;
  justify-content: space-between;
  width: auto;
}
.cabecalho__links .link__item {
  margin-right: 15px;
  color: hsl(236deg, 13%, 42%);
  cursor: pointer;
}
.cabecalho__links .link__item:hover {
  color: hsl(5deg, 85%, 63%);
}

.menu__svg {
  display: none;
}

.modal__close {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.587);
}

.close__menu {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.invisible {
  display: none;
}

.visible {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  height: 100vh;
  width: 80%;
  background-color: #fefdf9;
}
.visible .link__item {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  .cabecalho__links {
    display: none;
  }
  .menu__svg {
    display: block;
  }
}
.grid__principal {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr;
  height: auto;
  margin-bottom: 3rem;
}
.grid__principal .container__principal {
  grid-column: 1/1;
  grid-row: 1/1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 200px;
  margin-left: 15px;
}
.grid__principal .container__principal .img__web3 {
  width: 98%;
}
.grid__principal .container__principal .titulo {
  font-size: 3.8rem;
  font-weight: bold;
  text-align: start;
  width: 95%;
  color: hsl(240deg, 100%, 5%);
}
.grid__principal .container__principal .evolucao__web {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 82%;
  padding: 0.4rem;
}
.grid__principal .container__principal .evolucao__web p {
  line-height: 1.8rem;
  color: hsl(236deg, 13%, 42%);
}
.grid__principal .container__principal .evolucao__web .btn {
  max-width: 170px;
  height: 50px;
  color: white;
  font-weight: bold;
  border: none;
  background-color: hsl(5deg, 85%, 63%);
  cursor: pointer;
  letter-spacing: 0.2rem;
}
.grid__principal .container__principal .evolucao__web .btn:hover {
  opacity: 90%;
}
.grid__principal .container__principal .container__web3 {
  grid-row: 1/1;
  grid-column: span 2;
}

@media screen and (max-width: 1100px) {
  .grid__principal {
    display: flex;
    flex-direction: column;
  }
  .grid__principal .container__principal {
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  .grid__principal .container__principal .container__web3 {
    width: 100%;
  }
  .grid__principal .img__web3 {
    width: 100%;
  }
}
.aside {
  grid-column: 2/2;
  grid-row: 1/1;
  width: 95%;
  min-height: auto;
  background-color: hsl(240deg, 100%, 5%);
  padding: 2rem;
  margin: 0 auto;
}
.aside .titulo__new {
  color: hsl(35deg, 77%, 62%);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}
.aside .noticia__titulo {
  color: white;
  letter-spacing: 0.1rem;
  margin-bottom: 15px;
}
.aside .noticia__paragrafo {
  color: hsl(233deg, 8%, 79%);
  letter-spacing: 0.1rem;
}

.noticia__corpo {
  height: 33.3333333333%;
  width: 85%;
}

.aside .noticia__corpo:nth-child(2)::after, .aside .noticia__corpo:nth-child(3)::after {
  content: "";
  display: block;
  width: 98%;
  height: 1px;
  background-color: hsl(233deg, 8%, 79%);
  margin-top: 3rem;
}

@media screen and (max-width: 800px) {
  .aside {
    width: 100vw;
  }
}
.topicos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100%;
  flex-wrap: wrap;
}
.topicos .container__article {
  display: grid;
  grid-template-columns: 150px calc(100% - 150px);
  min-height: 150px;
  max-width: 300px;
  min-width: auto;
}
.topicos .container__article figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article__materia {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  widows: 100%;
}
.article__materia span {
  font-size: 2rem;
  font-weight: bold;
  color: hsla(236deg, 13%, 42%, 0.756);
}
.article__materia h4 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: start;
}
.article__materia p {
  color: hsl(236deg, 13%, 42%);
}

.img__article {
  max-width: 150px;
  height: 150px;
}
.img__article:hover {
  transform: rotate(5deg);
}

@media screen and (max-width: 800px) {
  .topicos {
    justify-content: center;
    align-items: center;
  }
  .topicos .article__materia {
    font-size: 1.3rem;
    height: auto;
    width: 95%;
    text-align: justify;
  }
}
@media screen and (max-width: 400px) {
  .topicos {
    height: 100%;
  }
  .topicos .container__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }
}
.attribution {
  font-size: 1.2rem;
  color: white;
  background-color: hsl(240deg, 100%, 5%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  min-width: 100vw;
  margin-top: 1rem;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
  margin-left: 5px;
}
.attribution a:hover {
  box-shadow: 0.1px 0.1px 1rem hsl(228deg, 45%, 44%);
}/*# sourceMappingURL=style.css.map */